
<p id="notice"></p>


<div class="container px-5 px-sm-0">

<div class="row">


<div class="col-md-3">

<%= render "books/list", user: @users, new_book: @new_book %>


</div>






    <div class="col-md-8 offset-md-1">

      <h2>Users</h2>

      <div class="table">

        <table>
          <tr>
            <td>image</td>
            <td>name</td>
          </tr>
        </table>

        <table>
          <tr>
            <td><%= attachment_image_tag %></td>
            <td>name</td>
            <td></td>
          </tr>
        </table>

      </div>


    </div>

  </div>


</div>















